.table-view .column-header ,
.table-view .column-header-background .filler{
    -fx-cell-size: 20;
    -fx-background-color:  #4baba4;
}

.table-view .column-header .label{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}