.btn{
    -fx-background-color: none;
    -fx-text-fill: #c3bebe;
}

.btn:hover{
    -fx-cursor: pointer;
    -fx-background-color: #808B8D;
    -fx-text-fill: white;
}

.btn: pressed{
    -fx-border-color: white;
    -fx-border-width: 0 0 0 3;
}

.btn{
    -fx-background-color: none;
}

.buttonClose{
    -fx-background-color: none;
}

.buttonClose:hover{
    -fx-cursor: pointer;
    -fx-background-color: rgba(255,255,255,0.3);
}

