*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
    background-color: #EEEEEE;
}

legend{
    color: #FFFFFF;
    background-color: #28948d;
    text-align: center;
    border-radius: 5px 5px 0 0;
    width: 100%;
    padding: 0.8rem 0;
    font-size: 1.2em;
}

form{
    width: 60%;
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
}

.form-content{
    width: 100%;
    padding-top: 10px;
}

.form-group{
    display: flex;
    justify-content: right;
    width: 70%;
    align-items: center;
    margin: auto;
    padding-right: 15%;
    padding-top: 5px;
}

.form-group label{
    padding-right: 3px;
}

input{
    margin-bottom: 8px;
    height: 25px;
    width: 60%;
    border: 1px solid #777777;
    border-radius: 5px;
}

.actions{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.actions input{
    width: 35%;
    margin: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
}

.actions input:hover{
    background-color: #28948d;
    color: white;
    transition: 0.7s;
}

input:hover{
    border-color: #28948d;
}

input:focus{
    border-color: #28948d;
}