/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    background-color: #EEEEEE;
}

#form{
    width: 90%;
    max-width: 500px;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 5px;
}

legend{
    color: #FFFFFF;
    background-color: #28948d;
    text-align: center;
    padding: 0.8rem 0;
    border-radius: 5px 5px 0 0;
}

#form-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 3rem 1rem;
    border-radius: 0 0 5px 5px;
}

.form-group{
    margin-bottom: 1rem;
}

label{
    display: block;
    margin-bottom: 0.4rem;
}

input{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #777777;
    border-radius: 5px;
    outline: none;
}

input:hover{
    border-color: #28948d;
}

input:focus{
    border-color: #28948d;
}

.input-error{
    border: 1px solid red;
}

.input-error::placeholder{
    color: red;
}

#submit-button{
    margin-top: 1.4rem;
    padding: 0.5rem;
    color: #FFFFFF;
    background-color: #28948d;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-family: Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s;
}

#submit-button:hover{
    cursor: pointer;
    background-color: #1d817a;
}